*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'montserrat',sans-serif;
    color:#fff;
    background-image:url("./mountains-g55d324b50_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}


.app{
   display: flex;
   flex-direction: column;
 
   align-items: center;
   text-align: center; 
   background: rgba(0, 0, 0, .5);
}

.header{
    padding: 50px 20px 30px 20px;
}

.header h1{
    font-size: 50px;
    color: rgb(231, 148, 46);
    text-shadow: 1px 3px rgba(0,0,0,.9);
}

.header input{
   width: 100%;
    padding: 10px;
    background: transparent;
    border:0;
   outline: 0;
   border-bottom: 2px solid rgb(231, 148, 46);
   text-align: center;
   font-size: 20px;
   color: #f2f2f2;
}
.header .buton{
    margin-top: 2rem;
    padding: 0.5rem;
    background-color:rgb(231, 148, 46) ;
    border: 0;
}
.foot{
    float: right;
    font-size: 17px;
   color: rgb(183, 157, 226);
   font-weight: 600;
   margin-top: 15rem;
   margin-right: 2rem;
}

